.recommandations{
    margin-top: 10%;

    video{
        border-radius: 7px;
        border: 2px solid var(--ion-color-primary);
        border-radius: 15px;
    }

    .video-info{
        position: absolute;
        color: white;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}