div{
    display: flex;
    justify-content: center;
    padding-top: 5%;

    ion-icon{
        font-size: 3em;
    }
}

.recommandations{
    margin-top: 10%;

    video{
        border-radius: 7px;
        border: 2px solid var(--ion-color-primary);
        border-radius: 15px;
    }
}