<ion-content>
  <video height="240" controls autoplay>
    <source src="{{video.url}}" type="video/mp4">
  </video>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Détails</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h3>Date</h3>
        </ion-col>
        <ion-col>
          {{video.datetime | date:'dd/MM/yyyy'}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3>Heure</h3>
        </ion-col>
        <ion-col>
          {{video.datetime | date:'hh:mm:ss'}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h3>Entité</h3>
        </ion-col>
        <ion-col>
          {{video.message}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div>
    <ion-icon name="chevron-down-circle-outline" (click)="closeModal()">
    </ion-icon>
  </div>
</ion-content>