<ion-content>
  <!-- Login fields -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Se connecter</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="submit()">
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="emailOrUserName" name="emailOrUserName" type="text" required></ion-input>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
    
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Connexion</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Register button -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Créer un compte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button [routerLink]="['/registration']">
        Inscription
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button [routerLink]="['/tabs/tab1']">
    tabs
  </ion-button>
</ion-content>
