<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Login fields -->
  <form (ngSubmit)="submit()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="emailOrUserName" name="emailOrUserName" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Connexion</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- Register button -->
  <ion-button [routerLink]="['/registration']">
    Créer un compte
  </ion-button>
</ion-content>
