<ion-content [fullscreen]="true">
  <div class="title">
    <h1>Enregistrements vidéos</h1>
  </div>

  <!-- Videos -->
  <div class="content">
    <ion-card *ngFor="let video of videos; let i = index">
      <ion-card-content [ngStyle]="{'background-color': glowIndex === i ? '#F5F3CE' : ''}">
        <ion-icon name="videocam-outline"></ion-icon>
        <h2>{{video.datetime | date:'dd/MM/yyyy hh:mm:ss'}}</h2>
        <ion-button color="primary" (click)="openVideo(video)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>