<ion-content [fullscreen]="true">
  <div class="title">
    <h1>Interagir avec la porte</h1>
  </div>

  <!-- Door interaction -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Interagir</ion-card-title>
    </ion-card-header>
    <ion-card-content class="interaction-card">
      <ion-button color="danger">
        <ion-icon name="ear-outline"></ion-icon>
        <p>Alarme</p>
      </ion-button>
      <ion-button color="warning">
        <ion-icon name="flashlight-outline"></ion-icon>
        <p>Lumière</p>
      </ion-button>
      <ion-button class="mic">
        <ion-icon name="mic-outline"></ion-icon>
        <p>Parler</p>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Camera view -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Caméra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/camera.png" alt="Camera preview" class="camera">
    </ion-card-content>
  </ion-card>
</ion-content>
