<ion-content [fullscreen]="true">
  <div class="title">
    <h1>Interagir avec la porte</h1>
  </div>

  <!-- Door interaction -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Interagir</ion-card-title>
    </ion-card-header>
    <ion-card-content class="interaction-card">
      <ion-button color="secondary">
        <ion-icon name="ear-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Camera view -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Caméra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
