.interaction-card{
    display: flex;
    justify-content: space-between;
    font-size: 1em;

    ion-button{
        width: 70px;
        height: 70px;

        ion-icon{
            position: absolute;
            top: 18%;
        }
        
        p{
            position: absolute;
            bottom: 18%;
        }
    }

    .mic{
        --background: #4A5FE8;
    }

    .cam{
        color: black;
        --background: #87FFC7;
    }
}

.camera{
    border-radius: 15px;
    border : solid;
    border-color: var(--ion-color-primary);
}

.signal {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    right: 10px;
    top: 10px;
}

ion-card-header{
    display: flex;
    align-items: center;
    gap: 4%;

    div{
        border-left: 0.2em solid var(--ion-color-tertiary);

        p{
            font-size: 0.9em;
            margin-left: 5%;
        }
    }
}

video{
    border-radius: 7px;
}